<nav class="navbar section-content">
    <a href="#" class="nav-logo">
        <h2 class="logo-text">Glossary</h2>
    </a>
    <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <div class="nav-menu" [class.active]="isMenuOpen">
        <a routerLink="/home" class="nav-link">Home</a>
        <a routerLink="/terms" class="nav-link">Terms</a>
        <a routerLink="/login" class="nav-link">Log In</a>
      </div>
</nav>