.search-container {
  margin: 24px auto 16px auto;
  width: 70%;
}

.search-field {
  width: 100%;
}

.table-container {
  width: 70%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: var(--font-weight-semibold);
}

td.mat-cell {
  padding: 12px;
  color: var(--secondary-color);
}

.term-name {
  font-weight: var(--font-weight-bold); 
}

tr.mat-row:nth-child(even) {
  background-color: var(--light-color);
}

.no-results {
  text-align: center;
  margin-top: 20px;
  color: var(--secondary-color);
  font-weight: var(--font-weight-medium);
}

.term-name {
  font-weight: var(--font-weight-bold);
}

.mat-icon-button {
  margin-left: 8px;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-weight-medium);
  color: var(--white-color);
  background: var(--medium-color);
  border-radius: var(--border-radius-small);
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 4px 8px;
}
