html {
  background: linear-gradient(180deg, var(--primary-color),var(--medium-color) );
  height: 90.3vh;
  margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: var(--white-color);
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
  }
  .container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: var(--z-fixed);
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
  }
  .container #flip:checked ~ .forms .login-form {
    pointer-events: none;
  }
  .container .cover .front,
  .container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back {
    transform: rotateY(180deg);
  }
  .container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: var(--z-tooltip);
  }
  .container .cover .text {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .cover .text::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: var(--secondary-color);
  }
  .cover .text .text-1,
  .cover .text .text-2 {
    z-index: var(--z-fixed);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semibold);
    color: var(--white-color);
    text-align: center;
  }
  .cover .text .text-2 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
  }
  .container .forms {
    height: 100%;
    width: 100%;
    background: var(--white-color);
  }
  .container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title {
    position: relative;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semibold);
    color: var(--secondary-color);
  }
  .forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: var(--accent-color);
  }
  .forms .signup-form .title:before {
    width: 20px;
  }
  .forms .form-content .input-boxes {
    margin-top: 30px;
  }
  .forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid {
    border-color: var(--medium-color);
  }

  .forms .form-content .text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-color);
  }
  .forms .form-content .text a:hover {
    text-decoration: underline;
  }
  .forms .form-content .button {
    color: var(--white-color);
    margin-top: 40px;
  }
  .forms .form-content .button input {
    color: var(--white-color);
    background: var(--medium-color);
    border-radius: var(--border-radius-small);
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .forms .form-content .button input:hover {
    background: var(--secondary-color);
  }
  .forms .form-content label {
    color: var(--accent-color);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
  }
  .forms .form-content label:hover {
    text-decoration: underline;
  }
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
  }
  .container #flip {
    display: none;
  }
  @media (max-width: 850px) {
    .container .cover {
      display: none;
    }
    .form-content .login-form,
    .form-content .signup-form {
      width: 100%;
    }
    .form-content .signup-form {
      display: none;
    }
    .container #flip:checked ~ .forms .signup-form {
      display: block;
    }
    .container #flip:checked ~ .forms .login-form {
      display: none;
    }
  }