<html>
    <body>
        <div class="container">
            <div class="container-text">
                <h2 class="title">Nulla fermentum, quam nec blandit!</h2>
                <a class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lectus vitae purus aliquet luctus ac vitae nisl. Sed aliquam mauris at arcu lacinia sollicitudin. Morbi est magna, consectetur et molestie eu, iaculis id tellus.</a>
                <button class="button input-box">Get started</button>
            </div>
            <div class="container-image">
                <img src="/hero.svg" alt="">
            </div>
        </div>
    </body>
</html>